body {
  position: relative;

  font-family: "Arial", sans-serif;
  background: #fff;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#webapp-title {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.06em;
  color: #000000;
  margin-top: 20px;
  /* Adjust top margin as needed */
}

#user-selection {
  max-width: 540px;
  width: 100%;
  padding-bottom: 16px;
}

#user-selection label {
  display: block;
  background: #f7f7f7;
  margin: 10px 0;
  border-radius: 20px;
  padding: 28px 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-left: 55px;
  cursor: pointer;
  font-weight: bold;
}

#user-selection input[type="radio"] {
  display: none;
}

#user-selection label::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

  background: white;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #6200ee;
  background: #fff;
}

#user-selection input[type="radio"]:checked + label::before {
  border: 2px solid #6200ee;
  background: #fff;
}

#user-selection label::after {
  /* Inner circle (hidden by default) */
  content: "";
  position: absolute;
  top: 50%;
  left: 26px;
  transform: translateY(-50%) scale(0);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #6200ee;
  transition: transform 0.2s ease-in-out;
}

#user-selection input[type="radio"]:checked + label::after {
  /* Show the inner circle when checked */
  transform: translateY(-50%) scale(1);
}

button {
  background-color: #6200ee;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-style: italic;
  /* Making the font italic */
  font-weight: bold;
  /* '900' weight is not available for Arial, 'bold' is used instead */
  font-size: 18px;
  /* Adjusted size for consistency and browser compatibility */
  line-height: 22px;
  text-align: center;
  /* Center the text inside the button */
  max-width: 540px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  /* Smooth transition for background color */
  font-size: 18px;
  max-width: 540px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  /* Smooth transition for color changes */
}

button:hover {
  background-color: #5f00db;
}

/* High specificity for disabled button styles to ensure they are applied */
button:disabled,
button[disabled] {
  background-color: #9f93b8;
  /* Dimmed purple or grey */
  cursor: not-allowed;
  box-shadow: none;
  /* Prevent the hover style from applying */
  pointer-events: none;
}

button:not(:disabled):hover {
  background-color: #5f00db;
}

table {
  max-width: 540px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #6200ee;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  #webapp-title {
    font-size: 32px;
    /* Smaller font size for mobile */
    line-height: 40px;
  }

  #user-selection,
  button,
  table {
    max-width: 100%;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6200ee;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's above all other content */
}

#count-display {
  font-size: 10rem;
  /* Adjust font-size if necessary */
  color: white;
  font-weight: bold;
  text-align: center;
  /* Center text horizontally */
  transition: transform 0.5s ease-in-out;
  /* Animation for the count change */
}
